@import '../setting/variable';

.logo {
  background: url('https://raw.githubusercontent.com/debbyyeh/chatTalker/main/dist/image/logo.png')
    no-repeat center;
  background-size: cover;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
  width: 220px;
  aspect-ratio: 1/0.18;
  @media (max-width: 767px) {
    width: 130px;
  }
}
.headerBg {
  background-color: #f7f9fd;
  aspect-ratio: 1/0.37;
  border-radius: 0px 0px 0px 300px;
  position: relative;
  @media (max-width: 767px) {
    aspect-ratio: 1/1.32;
    border-radius: 0px 0px 0px 150px;
  }
}
.headerPic {
  background: url('https://raw.githubusercontent.com/debbyyeh/chatTalker/main/dist/image/banner.svg')
    no-repeat center;
  position: absolute;
  width: 70%;
  aspect-ratio: 1/0.63;
  right: 0;
  bottom: -15%;
  background-size: cover;
  @media (max-width: 767px) {
    background: url('https://raw.githubusercontent.com/debbyyeh/chatTalker/main/dist/image/banner_sm.svg')
      no-repeat center;
    width: 100%;
    bottom: 0;
    background-size: cover;
    aspect-ratio: 1/1.32;
  }
}
.headerTitle {
  @media (max-width: 767px) {
    position: absolute;
    z-index: 3;
    h2 {
      padding-top: 48px;
    }
  }
}
.header {
  margin-bottom: 30px;
  h1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}
.headerDivide {
  border-bottom: 1px solid #ffd153;
  margin-bottom: 0;
}
.choiceList {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  margin-bottom: 64px;
  margin-right: -8px;
  margin-left: -8px;
  @media (max-width: 767px) {
    justify-content: start;
    margin-right: -6px;
    margin-left: -6px;
    margin-bottom: 32px;
  }
}
.choiceItem {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 27px;
  a {
    padding: 12px 32px;
    text-align: center;
    &.active {
      background-color: $primary;
      color: white;
    }
  }
  @media (max-width: 767px) {
    margin-right: 6px;
    margin-left: 6px;
    a {
      padding: 8px 16px;
    }
  }
}

// 方案表格內容
.servicePlan {
  > li {
    width: 48%;
  }
  i {
    margin-right: 12px;
  }
  h4 {
    margin-top: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid $divide;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    > li {
      width: 100%;
      &:nth-child(1) {
        margin-bottom: 24px;
      }
    }
  }
}
.serviceBasic,
.serviceStandard {
  padding: 32px 25px;
  @media (max-width: 767px) {
    padding: 24px 16px;
  }
}
.memberContent,
.priceContent {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.member,
.price {
  padding: 24px 42px;
  background-color: $item-bg;
  width: 45%;
  @media (max-width: 992px) {
    padding: 16px 20px;
  }
}
.memberTitle,
.priceTitle {
  font-size: 12px;
  line-height: 1.42;
}
.memberPrice,
.priceSum {
  font-size: 32px;
  line-height: 1.1;
  margin-right: 8px;
  sub {
    font-size: 12px;
    line-height: 0;
  }
  @media (max-width: 767px) {
    margin-right: 4px;
    font-size: 28px;
  }
}
// 常見問題
.QAList {
  padding: 16px 32px;
  color: $text-dark;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
  @media (max-width: 767px) {
    padding: 16px;
  }
  // 點選之後符號改變
  &.active {
    .fa-minus {
      display: block;
    }
    .fa-plus {
      display: none;
    }
  }
}
.fa-minus {
  display: none;
}
// 點選之後標題變色
.QATitle {
  &.active {
    font-weight: bold;
    color: $primary;
  }
}

// 點選之後下方內容出現
.QAcontent {
  display: none;
  margin-top: 24px;
  // transition: all 0.2s;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
